<head>
    <meta charset="UTF-8">
    <!-- Define a codificação de caracteres como UTF-8, garantindo o suporte a caracteres especiais. -->

    <meta name="viewport" content="width='device-width', initial-scale=1.0">
    <!-- Configura o layout responsivo para dispositivos móveis -->

    <title><%= titulo %></title>
    <!-- Define dinamicamente o título da página com base na variável 'titulo' passada pelo backend (usando EJS). -->

    <link rel="stylesheet" href="../static/styles.css">
    <!-- Vincula a folha de estilos externa localizada no caminho especificado. -->
</head>
