<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>


<body>
    <%- include("../partials/menu") %>
    <br><br>
    <center>
        <img src='/static/SenaiLogo.png' width='1100px'>
    </center>
    <br>

    <%- include("../partials/footer") %>
</body>

</html>